@model Application.Dtos.HomePage.CategoriaDto

<link rel="stylesheet" href="~/css/cardCategorias.css" asp-append-version="true" />

<div class="card-categoria-component">
    <a href="/Produtos?categoriaId=1" class="card-categoria-link">
        <div class="card-categoria-img">
            <img src="@Model.ImagemBase64" alt="@Model.Nome" />
            <div class="card-categoria-overlay">
                <span class="card-categoria-nome">@Model.Nome</span>
                <span class="card-categoria-cta">Explorar →</span>
            </div>
        </div>
    </a>
</div>
