@model Application.Dtos.HomePage.ProdutoDto

<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />

<div class="card-component">
    <div class="card">
        <div class="card-img-wrapper">
            <a href="/Produtos/Detalhes?produtoId=1">
                <img src="@Model.FotoPrincipalBase64" alt="@Model.Nome" />
            </a>
            <div class="card-overlay">
                <a href="/Produtos/Detalhes?produtoId=1" class="btn-comprar">Ver produto</a>
            </div>
        </div>
        <div class="card-body">
            <div class="card-title">@Model.Nome</div>
            <div class="card-desc">Descrição curta</div>
            <div class="card-price">R$ 120,00</div>
        </div>
    </div>
</div>
