@model Application.Dtos.HomePage.ProdutoDto

<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />

<div class="card-component">
    <div class="card border-0">
        <a href="/Produtos/Detalhes?produtoId=1">
            <img src="@Model.FotoPrincipalBase64" alt="@Model.Nome" class="img-fluid w-100" />
        </a>
        <div class="card-body text-left">
            <h5 class="card-title mt-2">@Model.Nome</h5>
            <p class="card-text">Descrição curta</p>
            <p class="card-text text-primary font-weight-bold">120 R$</p>
        </div>
    </div>
</div>
